In [1]:
# Importando a biblioteca do pandas
import pandas as pd

In [2]:
# ABRINDO ARQUIVO POR URL

# Importando leitor de url
import io
import requests

In [3]:
# Lendo a url do arquivo csv
url = "https://raw.githubusercontent.com/BuzzFeedNews/zika-data/master/data/parsed/brazil/brazil-microcephaly-2016-01-23-table-1.csv"
df1 = pd.read_csv(url, sep=',')

In [4]:
df1.head()

,no,state,cases_under_investigation,cases_confirmed,cases_discarded,cases_reported_total
0,1,Alagoas,158,0,0,158
1,2,Bahia,471,35,27,533
2,3,Ceará,218,4,7,229
3,4,Maranhão,119,0,15,134
4,5,Paraíba,497,31,181,709

In [6]:
# # ABRINDO ARQUIVO LOCALMENTE

df2 = pd.read_csv(r"C:\Users\Andressa\Documents\data project\dataSets\brazil-microcephaly-2016-01-23-table-1.csv", encoding = "UTF-8")

In [7]:
# Visualizar
df2.head()

,no,state,cases_under_investigation,cases_confirmed,cases_discarded,cases_reported_total
0,1,Alagoas,158,0,0,158
1,2,Bahia,471,35,27,533
2,3,Ceará,218,4,7,229
3,4,Maranhão,119,0,15,134
4,5,Paraíba,497,31,181,709

In [8]:
# SE USAR O GOOGLE COLAB PODE IMPORTAR ARQUIVOS DIRETAMENTE

from google.colab import files 
up = files.upload()

ModuleNotFoundError: No module named 'google'