##Importando o Pandas e o leitor de url

In [0]:
import pandas as pd
import io
import requests

## Lendo a url do arquivo csv

In [0]:
url = "https://raw.githubusercontent.com/dressalsl/tutorialPandas/master/dataSets/drinks.csv"
df = pd.read_csv(url, sep=',')

In [3]:
df.head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan              0  ...              0                           0.0
1      Albania             89  ...             54                           4.9
2      Algeria             25  ...             14                           0.7
3      Andorra            245  ...            312                          12.4
4       Angola            217  ...             45                           5.9

[5 rows x 5 columns]

##Verificando o tipo de valores nas colunas do Data Frame

In [0]:
df.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

## Utilizarei o .head() para facilitar a vizualização do DataFrame
## Selecionando 01 coluna pelo índice

In [0]:
df["country"].head()

0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: country, dtype: object

## Selecionando n colunas pelo índice

In [0]:
df[["country","spirit_servings","wine_servings"]].head()

       country  spirit_servings  wine_servings
0  Afghanistan                0              0
1      Albania              132             54
2      Algeria                0             14
3      Andorra              138            312
4       Angola               57             45

## Selecionando a coluna pela notação de ponto

In [0]:
df.country.head()

0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: country, dtype: object

## Adicionando uma nova coluna com dados de duas colunas existentes

In [0]:
df["nova_coluna"] = df["beer_servings"] + df["wine_servings"]

In [0]:
df.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  nova_coluna
0  Afghanistan              0  ...                           0.0            0
1      Albania             89  ...                           4.9          143
2      Algeria             25  ...                           0.7           39
3      Andorra            245  ...                          12.4          557
4       Angola            217  ...                           5.9          262

[5 rows x 6 columns]

## Excluindo colunas pelo argumento axis = 1

In [0]:
df.drop("nova_coluna",axis=1).head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan              0  ...              0                           0.0
1      Albania             89  ...             54                           4.9
2      Algeria             25  ...             14                           0.7
3      Andorra            245  ...            312                          12.4
4       Angola            217  ...             45                           5.9

[5 rows x 5 columns]

##Excluindo colunas com o .drop()

In [0]:
df.drop(columns=['beer_servings', 'nova_coluna']).head()

       country  spirit_servings  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan                0              0                           0.0
1      Albania              132             54                           4.9
2      Algeria                0             14                           0.7
3      Andorra              138            312                          12.4
4       Angola               57             45                           5.9

## Excluindo linhas por index

In [0]:
df.drop([0,1]).head()

             country  ...  total_litres_of_pure_alcohol
2            Algeria  ...                           0.7
3            Andorra  ...                          12.4
5  Antigua & Barbuda  ...                           4.9
6          Argentina  ...                           8.3
7            Armenia  ...                           3.8

[5 rows x 5 columns]

# #*Exercício:*

###Crie as novas colunas x e y.A partir das colunas existentes, exclua a coluna y. Use o head() para visualizar.

In [0]:
#X

In [0]:
#Y

In [0]:
#Exclua Y