## Importando o pandas e o leitor de url

In [0]:
import pandas as pd
import io
import requests

## Lendo a url do arquivo csv

In [0]:
url = "https://raw.githubusercontent.com/dressalsl/tutorialPandas/master/dataSets/bank.csv"
df = pd.read_csv(url, sep=';')

In [5]:
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

## Filter serve para criar subdataframe com as colunas desejadas

## O regex filtra por uma expressão regular,ou seja, ele identifica as cadeias de caracteres de interesse e nesse caso ele filtrou colunas que possuem a letra "j" ou "b"

In [0]:
df.filter(regex='[jb]').head()

           job  balance
0   unemployed     1787
1     services     4789
2   management     1350
3   management     1476
4  blue-collar        0

## Pode usar a expressão regular como o nome da coluna

In [0]:
df.filter(regex='(job|contact|month)').head()

           job   contact month
0   unemployed  cellular   oct
1     services  cellular   may
2   management  cellular   apr
3   management   unknown   jun
4  blue-collar   unknown   may

## Com o argumento like são selecionadas apenas as colunas que o texto foi passado

In [7]:
df.filter(like='balance').head()

   balance
0     1787
1     4789
2     1350
3     1476
4        0

## Seleciona pelo nome das colunas

In [0]:
df.filter(items=['age', 'education']).head()

   age  education
0   30    primary
1   33  secondary
2   35   tertiary
3   30   tertiary
4   59  secondary

# #Exercício:

##a) Selecione com o filter regex as colunas que possuem o caracter "h" e "p"
##b) Selecione com o filter like a coluna job
##c) Selecione com o filter items as colunas: job, age, day, month.

In [0]:
#a)

In [0]:
#b)

In [0]:
#c)