In [0]:
# Importando o pandas e o leitor de url
import pandas as pd
import io
import requests

In [0]:
# Lendo a url do arquivo csv
url = "https://raw.githubusercontent.com/BuzzFeedNews/zika-data/master/data/parsed/brazil/brazil-microcephaly-2016-01-23-table-1.csv"
df = pd.read_csv(url, sep=',')

In [0]:
# Apresenta as 05 primeiras linhas do DataFrame
df.head()

   no     state  ... cases_discarded cases_reported_total
0   1   Alagoas  ...               0                  158
1   2     Bahia  ...              27                  533
2   3     Ceará  ...               7                  229
3   4  Maranhão  ...              15                  134
4   5   Paraíba  ...             181                  709

[5 rows x 6 columns]

In [0]:
# Para exibir um número X de linhas, basta definir o paramêtro
df.head(n=10)

   no                state  ... cases_discarded cases_reported_total
0   1              Alagoas  ...               0                  158
1   2                Bahia  ...              27                  533
2   3                Ceará  ...               7                  229
3   4             Maranhão  ...              15                  134
4   5              Paraíba  ...             181                  709
5   6           Pernambuco  ...             110                 1373
6   7                Piauí  ...               0                   91
7   8  Rio Grande do Norte  ...              15                  208
8   9              Sergipe  ...               0                  172
9  10       Espírito Santo  ...               0                   52

[10 rows x 6 columns]

In [0]:
# Apresenta as 05 últimas linhas do DataFrame
df.tail()

    no               state  ... cases_discarded cases_reported_total
22  23         Mato Grosso  ...              37                  147
23  24  Mato Grosso do Sul  ...               1                    4
24  25              Paraná  ...               8                   10
25  26      Santa Catarina  ...               1                    1
26  27   Rio Grande do Sul  ...               0                    1

[5 rows x 6 columns]

In [0]:
# Indica o número de linhas x colunas do DataFrame
df.shape

(27, 6)

In [0]:
# Descrição do Index
df.index

RangeIndex(start=0, stop=27, step=1)

In [0]:
# Apresenta as colunas do DataFrame
df.columns

Index(['no', 'state', 'cases_under_investigation', 'cases_confirmed',
       'cases_discarded', 'cases_reported_total'],
      dtype='object')

In [0]:
# Apresenta a quantidade de dados não-nulos
df.count()

no                           27
state                        27
cases_under_investigation    27
cases_confirmed              27
cases_discarded              27
cases_reported_total         27
dtype: int64