## Importando o pandas e o leitor de url

In [0]:
import pandas as pd
import io
import requests

## Lendo a url do arquivo csv
### Observe: index 3 coluna "Credit_History"

In [3]:
url = "https://raw.githubusercontent.com/dressalsl/tutorialPandas/master/dataSets/missingValues.csv"
df = pd.read_csv(url)
df.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            NaN         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

## o método .isnull() verifica os valores nulos em todas linhas e colunas. Adicionei o método .sum() para somas todos os valores nulos por coluna

In [0]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

## Fiz uma cópia do Data Frame original para ele não ser alterado

In [0]:
df_copy1 = df.copy()

## O método dropna() exclui todas as linhas onde há colunas com valores faltantes
### O inplace=True renomeia dos dados e sem retornar

In [0]:
df_copy1.dropna(inplace=True)

## Podemos ver que não existe mais linhas com valores faltantes na cópia do data frame

In [0]:
df_copy1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

## O método fillna() preencher os valores faltantes com média das colunas.

In [11]:
df_copy2 = df.copy()
df_copy2.fillna(df.mean(), inplace=True)
df_copy2.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0       1.000000         Urban
1  LP001022   Male     Yes  ...            360.0       1.000000         Urban
2  LP001031   Male     Yes  ...            360.0       1.000000         Urban
3  LP001035   Male     Yes  ...            360.0       0.825444         Urban
4  LP001051   Male      No  ...            360.0       1.000000         Urban

[5 rows x 12 columns]

## O método fillna() pode preencher os valores faltantes com o número 1.

In [0]:
df_copy3 = df.copy()
df_copy3.fillna(1, inplace=True)
df_copy3.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            1.0         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

# #Exercício:

###a) Leia o arquivo abaixo como um df2 e visualize com o head(): https://raw.githubusercontent.com/dressalsl/tutorialPandas/master/dataSets/Missing_Values_Exercicio.csv
###b) Verifique os valores nulos em todas linhas e colunas
###c) Preencha os valores nulos com a média das colunas

In [0]:
#a)

In [0]:
#b)

In [0]:
#c)