In [0]:
import pandas as pd
import io
import requests

In [0]:
url = "https://raw.githubusercontent.com/BuzzFeedNews/zika-data/master/data/parsed/brazil/brazil-microcephaly-2016-01-23-table-1.csv"
df = pd.read_csv(url, sep=',')
df.head()

   no     state  ... cases_discarded cases_reported_total
0   1   Alagoas  ...               0                  158
1   2     Bahia  ...              27                  533
2   3     Ceará  ...               7                  229
3   4  Maranhão  ...              15                  134
4   5   Paraíba  ...             181                  709

[5 rows x 6 columns]

In [0]:
# iloc =  selecionar dados de linhas e colunas pelo seu de índice.

In [0]:
# Selecionando a primeira linha do DataFrame
df.iloc[0]

no                                 1
state                        Alagoas
cases_under_investigation        158
cases_confirmed                    0
cases_discarded                    0
cases_reported_total             158
Name: 0, dtype: object

In [0]:
# Selecionando a última linha do DataFrame
df.iloc[-1]

no                                          27
state                        Rio Grande do Sul
cases_under_investigation                    0
cases_confirmed                              1
cases_discarded                              0
cases_reported_total                         1
Name: 26, dtype: object

In [0]:
# Selecionando todos os dados da segunda coluna
df.iloc[:,1]

0                 Alagoas
1                   Bahia
2                   Ceará
3                Maranhão
4                 Paraíba
5              Pernambuco
6                   Piauí
7     Rio Grande do Norte
8                 Sergipe
9          Espírito Santo
10           Minas Gerais
11         Rio de Janeiro
12              São Paulo
13                   Acre
14                  Amapá
15               Amazonas
16                   Pará
17               Rondônia
18                Roraima
19              Tocantins
20       Distrito Federal
21                  Goiás
22            Mato Grosso
23     Mato Grosso do Sul
24                 Paraná
25         Santa Catarina
26      Rio Grande do Sul
Name: state, dtype: object

In [0]:
# Selecionando do 1º ao 5º da última coluna
df.iloc[0:5,-1]

0    158
1    533
2    229
3    134
4    709
Name: cases_reported_total, dtype: object

In [0]:
# Selecionando as três primeiras linhas do DataFrame
df.iloc[0:3]

   no    state  ... cases_discarded cases_reported_total
0   1  Alagoas  ...               0                  158
1   2    Bahia  ...              27                  533
2   3    Ceará  ...               7                  229

[3 rows x 6 columns]

In [0]:
# Selecionando todos os dados da 5º e da última coluna
df.iloc[:,4:6]

   cases_discarded cases_reported_total
0                0                  158
1               27                  533
2                7                  229
3               15                  134
4              181                  709
5              110                 1373
6                0                   91
7               15                  208
8                0                  172
9                0                   52
10              39                   48
11               0                  122
12               0                   18
13   Sem registros       Sem registros
14   Sem registros       Sem registros
15   Sem registros       Sem registros
16               0                    6
17               0                    1
18               0                    5
19              12                   82
20               9                   14
21               0                   62
22              37                  147
23               1                    4
24               8                   10
25               1                    1
26               0                    1

In [0]:
# Selecionando a 1º, a 3º e 6º linha da 1º até a 3º coluna 
df.iloc[[0,2,5], 1:4]

        state cases_under_investigation cases_confirmed
0     Alagoas                       158               0
2       Ceará                       218               4
5  Pernambuco                      1125             138