In [0]:
import pandas as pd
import io
import requests

In [0]:
url = "https://raw.githubusercontent.com/BuzzFeedNews/zika-data/master/data/parsed/brazil/brazil-microcephaly-2016-01-23-table-1.csv"
df = pd.read_csv(url, sep=',')
df.head()

   no     state  ... cases_discarded cases_reported_total
0   1   Alagoas  ...               0                  158
1   2     Bahia  ...              27                  533
2   3     Ceará  ...               7                  229
3   4  Maranhão  ...              15                  134
4   5   Paraíba  ...             181                  709

[5 rows x 6 columns]

In [0]:
# loc = Este método é baseado nas labels da colunas

In [0]:
# Usando loc com índice
df.loc[[4]]

   no    state  ... cases_discarded cases_reported_total
4   5  Paraíba  ...             181                  709

[1 rows x 6 columns]

In [0]:
# Usando loc com array
df.loc[[0,4,18]]

    no    state  ... cases_discarded cases_reported_total
0    1  Alagoas  ...               0                  158
4    5  Paraíba  ...             181                  709
18  19  Roraima  ...               0                    5

[3 rows x 6 columns]

In [0]:
# Usando loc por fatiamento
df.loc[5:9]

   no                state  ... cases_discarded cases_reported_total
5   6           Pernambuco  ...             110                 1373
6   7                Piauí  ...               0                   91
7   8  Rio Grande do Norte  ...              15                  208
8   9              Sergipe  ...               0                  172
9  10       Espírito Santo  ...               0                   52

[5 rows x 6 columns]

In [0]:
# Para usar o loc chamando pelo nome da linha, devemos primeiro setar um index
df2 = df.set_index("state")
# Visualizando a alteração
df2.head()

          no cases_under_investigation  ... cases_discarded cases_reported_total
state                                   ...
Alagoas    1                       158  ...               0                  158
Bahia      2                       471  ...              27                  533
Ceará      3                       218  ...               7                  229
Maranhão   4                       119  ...              15                  134
Paraíba    5                       497  ...             181                  709

[5 rows x 5 columns]

In [0]:
# Após setar, podemos chamar pelo nome da linha
df2.loc["Pernambuco"]

no                              6
cases_under_investigation    1125
cases_confirmed               138
cases_discarded               110
cases_reported_total         1373
Name: Pernambuco, dtype: object

In [0]:
# Podemos selecionar linhas e colunas usando um array com linhas e outro com as colunas
df2.loc[["Pernambuco","Ceará","Bahia"],["cases_confirmed","cases_reported_total"]]

           cases_confirmed cases_reported_total
state
Pernambuco             138                 1373
Ceará                    4                  229
Bahia                   35                  533

In [0]:
# Filtrando casos confirmados acima de 10 
""" Note que o "10" é uma string, por isso que aparece também os casos 
    "Sem registros" 
"""
df.loc[df['cases_confirmed'] > "10"]

    no                state  ... cases_discarded cases_reported_total
1    2                Bahia  ...              27                  533
2    3                Ceará  ...               7                  229
4    5              Paraíba  ...             181                  709
5    6           Pernambuco  ...             110                 1373
7    8  Rio Grande do Norte  ...              15                  208
13  14                 Acre  ...   Sem registros       Sem registros
14  15                Amapá  ...   Sem registros       Sem registros
15  16             Amazonas  ...   Sem registros       Sem registros

[8 rows x 6 columns]